@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html{
    scroll-behavior: smooth !important;
}
body {
    font-family: "Rubik", sans-serif;
    background-color: peachpuff;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0px;
    width: 960px;
    padding: 5px 20px;
    background-color: palegoldenrod;
    border: dashed 5px orange;
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    /* margin: 0px auto */
    /* margin: 0px */
    /* 1 => All. 2 => T&B then L&R. 3 => T then L&R then B. 4 => TRBL (clockwise) */
}

main {
    width: 960px;
    padding: 20px;
    background-color: palegreen;
    border: dashed 5px orange;
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    width: 960px;
    padding: 20px;
    background-color: paleturquoise;
    height: 90px;
    border: dashed 5px orange;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    width: inherit;
    text-align: center;
}
h2 {
    text-align: center;
}

ul{
    list-style: disc;
}

li {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: darkgreen;
}
/* https://www.tutorialbrain.com/css_tutorial/css_font_family_list/ */
img {
    border: solid 3px black;
    height: 200px;
}

nav{
    width: max-content;
    margin: 0px auto;
}

nav ul{
    padding: 0px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    padding: 0px;
    text-decoration: none;
    padding: 5px;
    width: 200px;
    text-align: center;
}

nav ul li:hover{
    background-color: aliceblue;
    scale: 1.05;
}

nav ul li a{
    font-weight: 300;
}

nav ul li a:hover{
    font-weight: 500;
}

figure{
    display: inline;
}

.overview, .smallPara, .tinyPara{
    text-align: justify;
}

.overview{
    font-size: 18px;
}

.smallPara{
    font-size: 17px;
}

.tinyPara{
    font-size: 15px;
}
