body {
    background-color: sienna;
    background-color: #b100c3;
    background-color: rgba(210, 115, 74, 0.5);
}
h1 {
    font-family: sans-serif;
    text-transform: uppercase;
}
h2 {
    font-family: monospace;
    text-align: center;
}
p {
    font-family: cursive;
}
ul{
    list-style: armenian;
}
ul li {
    color: blue;
}
/* https://www.tutorialbrain.com/css_tutorial/css_font_family_list/ */